@model Expenditure.Web.Models.ExpenditureViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Expenditure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseType" class="control-label"></label>
                <input asp-for="ExpenseType" class="form-control" />
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenditureDate" class="control-label"></label>
                <input asp-for="ExpenditureDate" class="form-control" />
                <span asp-validation-for="ExpenditureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseValue" class="control-label"></label>
                <input asp-for="ExpenseValue" class="form-control" />
                <span asp-validation-for="ExpenseValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFile" class="control-label"></label>
                <input asp-for="PhotoFile" type="file" class="form-control" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
